---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";
import { getOGMeta } from "@utils/ogMeta";

const ogMeta = await getOGMeta("my", `Danya Vidmich — A MY`);
const subtitle = "A MY";
const tertiary = "";
---

<BaseLayout
  title={ogMeta.title}
  description={ogMeta.description}
  ogTitle={ogMeta.ogTitle}
  ogDescription={ogMeta.ogDescription}
  ogUrl={ogMeta.ogUrl}
  ogImage={ogMeta.ogImage}
>
  <Header subtitle={subtitle} tertiary={tertiary} />


        <div class="main">
              		<div class="about">
      		    <div>

      			    </div>  
          </div>

          <div class="aboutzero"></div>

      		<div id="page3" class="graphic">

  <div  id="bigcard2" class="cards">

              <div class="card">
                <img src="/img/gr/my/1.webp">
              </div>

              <div class="card">
                <img src="/img/gr/my/2.webp">
              </div>

    </div>

    <div  id="bigcard2" class="cards">

              <div class="card">
                <img src="/img/gr/my/3.webp">
              </div>

              <div class="card">
                <img src="/img/gr/my/4.webp">
              </div>

    </div>

      <div  id="bigcard2" class="cards">

              <div class="card">
                <img src="/img/gr/my/5.webp">
              </div>

              <div class="card">
                <img src="/img/gr/my/6.webp">
              </div>

    </div>
                      <div id="bigcard2" class="bigcard">
  <iframe src="https://player.vimeo.com/video/949469202?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" style="border: 0;" allow="autoplay; fullscreen; clipboard-write" title="A MY?"></iframe>
            </div>

      		</div>
      	</div>
</BaseLayout>
