---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";
import { getOGMeta } from "@utils/ogMeta";

const ogMeta = await getOGMeta("peterburgskie-povesti", `Danya Vidmich — Peterburgskie povesti`);
const subtitle = "Peterburgskie povesti";
const tertiary = "";
---

<BaseLayout
  title={ogMeta.title}
  description={ogMeta.description}
  ogTitle={ogMeta.ogTitle}
  ogDescription={ogMeta.ogDescription}
  ogUrl={ogMeta.ogUrl}
  ogImage={ogMeta.ogImage}
>
  <Header subtitle={subtitle} tertiary={tertiary} />


        <div class="main">
      		<div class="about">

      			    </div>

          <div class="aboutzero"></div>

      		<div id="page3" class="graphic">

            <div  id="bigcard2" class="cards">

              <div class="card">
                <img src="/img/gr/peterburgskie-povesti/2.webp">
              </div>

              <div class="card">
                <img src="/img/gr/peterburgskie-povesti/8.webp">
              </div>

    </div>

            <div  id="bigcard2" class="cards">

              <div class="card">
                <img src="/img/gr/peterburgskie-povesti/1.webp">
              </div>

              <div class="card">
                <img src="/img/gr/peterburgskie-povesti/3.webp">
              </div>

    </div>
                      <div  id="bigcard2" class="cards">

              <div class="card">
                <img src="/img/gr/peterburgskie-povesti/4.webp">
              </div>

              <div class="card">
                <img src="/img/gr/peterburgskie-povesti/5.webp">
              </div>

    </div>
              <div  id="bigcard2" class="cards">

              <div class="card">
                <img src="/img/gr/peterburgskie-povesti/6.webp">
              </div>

              <div class="card">
                <img src="/img/gr/peterburgskie-povesti/7.webp">
              </div>

      		</div>
      		    		</div>


      	</div>
</BaseLayout>
